@import (reference) "../style/common";

.aftermath {
    height: 100%;
}

.aftermath-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 125px;
    @media @device-tablet {
        height: 100px;
    }
    @media @device-mobile {
        height: 80px;
    }
}

.aftermath-character-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    pointer-events: none;
    @media @device-mobile {
        width: 100%;
    }
}

.aftermath-content {
    min-height: 100%;
    box-sizing: border-box;
    padding-top: 150px;
    margin-bottom: -30px;
    @media @device-tablet {
        padding-top: 120px;
    }
    @media @device-mobile {
        padding-top: 100px;
    }
}

.aftermath-content:after {
    content: " ";
    display: block;
}

.aftermath-footer, .aftermath-content:after {
    height: 30px;
}
