.aftermath {
    height: 100%;
}

.aftermath-character-list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
}

.aftermath-content {
    position: absolute;
    top: 150px;
}

.aftermath-header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}
