<div class="horizontal-menu" [class.is-closed]="menuClosed">
    <!-- This is needed to "remember" where the menu should no longer be sticky-->
    <div id="horizontal-menu-sticky-anchor"></div>

    <div id="horizontal-menu-sticky" class="horizontal-menu-sticky" [class.is-sticky]="stickToTop">
        <div class="horizontal-menu-wrapper-overflow">
            <div class="horizontal-menu-wrapper clickable">
                <ng-content></ng-content>
            </div>
        </div>
        <div class="horizontal-menu-open-button" (click)="toggleMenu()"></div>
        <icon class="horizontal-menu-close-button clickable"
                     (click)="toggleMenu()"
                     iconClass="horizontal-menu-close-button-icon"
                     iconName="horizontal-arrow-left-up">
        </icon>
    </div>
</div>
