@import (reference) "../../style/common";

.horizontal-menu {
    padding: 1px;
    background: black;
    box-shadow: 0 0 6px black;
    box-sizing: border-box;
}

// Stick to the top of the screen
.horizontal-menu-sticky {
    position: fixed;
    top: 10px;
}
