<div class="character-list total-entry-number-{{entries}}" [class.list-is-visible]="showList"
     [class.list-is-not-visible]="!showList">
    <div class="character-list-close" (click)="toggleList()"></div>
    <div class="character-list-background">
        <div class="character-list-buttons"> buttons will be here</div>
        {{color}}
        <div *ngIf="showScroll">scroll up</div>
        <div id="character-list-entries" class="character-list-entries" [class.showScroll]="showScroll">
            <div id="character-list-entries-scrollable" class="character-list-entries-scrollable">
                <div id="character-list-entry-wrapper" class="character-list-entry-wrapper {{styleclass}}" *ngFor="#character of characters">
                    <character-list-entry [character]="character"></character-list-entry>
                </div>
            </div>
        </div>
        <div class="character-list-scroll-down" *ngIf="showScroll" (click)="scrollDown()">scroll down</div>
    </div>
</div>
