@import "../../../style/common";

// Default Style ------------------------------------------------------------------------------------------------------
.character-list {
    position: relative;
    height: 100%;
    overflow: hidden;
    width: 286px;
}

.character-list-close {
    position: absolute;
    top: 1px;
    right: 1px;
    height: 20px;
    width: 20px;
    //background-image: url('/assets/icons/navigate2.svg');
    fill: white;
    background-size: contain;
}

.character-list-background {
    position: relative;
    height: 100%;
    background-color: fade(@color-grey-4, 75%);
}

.character-list-buttons {
    height: 25px;
    width: 100%;
}

.character-list-buttons-sort {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 2px;
}

.character-list-entries {
    overflow: hidden;
    position: absolute;
    top: 25px;
    right: 0;
    left: 0;
    bottom: 0;

    &.showScroll {
        top: 50px;
        bottom: 50px;
    }
}

.character-list-entry-wrapper {
    position: absolute;
    width: 100%;
}


.character-list-scroll-down {
    position: absolute;
    height: 50px;
    bottom: 0;
}

// This transition time is also hardcoded in the character-list.ts !
.character-list-entries-scrollable {
    transition: all 150ms linear;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

// List Specifics  -----------------------------------------------------------------------------------------------------
@character-list-entry-animation-duration: 150ms;
@character-list-background-animation-duration: 250ms;
@character-list-close-button-duration: 250ms;

// Animations that make everything appear
&.list-is-visible {

    .character-list-close {
        transition: all @character-list-close-button-duration ease-out;
        transform: rotate(180deg);
    }
    .character-list-background {
        transition: all @character-list-background-animation-duration ease-out;
        transform: translate(0, 0);
    }
    .character-list-entry-wrapper {
        //.delay-transition(@entryNumbers, @character-list-entry-animation-delay-duration, @character-list-background-animation-duration);
        transition: transform @character-list-entry-animation-duration ease-out @character-list-background-animation-duration, top 400ms linear;
        transform: translate(0, 0);
    }
}

// Animations that make everything disappear
&.list-is-not-visible {

    .character-list-close {
        transition: all @character-list-close-button-duration ease-out;
        transition-delay: @character-list-entry-animation-duration;
        transform: rotate(0deg);
    }
    .character-list-background {
        transition: all @character-list-background-animation-duration ease-out @character-list-entry-animation-duration;
        transform: translate(0, -100%);
    }
    .character-list-entry-wrapper {
        //.delay-transition(@entryNumbers, @character-list-entry-animation-delay-duration, 0);
        transition: transform @character-list-entry-animation-duration ease-out;
        transform: translate(100%, 0);
    }
}
