<div class="character-details-sortable">

    <sortable-boxes [sortables]="items" [num]="num" *ngIf="items">
        <sortable-box *ngFor="#item of items; #i = index" [sortable]="item">

            <div class="character-details-sortable-card-wrapper">
                <div class="character-details-sortable-card character-details-items-card mod-rarity-{{item.rarity}}"
                     (click)="clickCard($event)">
                    <img class="character-details-sortable-card-image" src="{{item.image}}" alt="">
                    <div class="character-details-sortable-card-text">

                        <div class="character-details-sortable-card-text-border"></div>
                        <div class="character-details-sortable-card-name-wrapper">
                            <div class="character-details-sortable-card-name h3">{{item.name}}</div>
                        </div>
                        <div class="character-details-sortable-card-type">{{item.type}}</div>
                        <div class="character-details-sortable-card-description">{{item.description}}</div>
                        <div class="character-details-sortable-card-date">
                            {{dateToString(item.date)}}
                        </div>
                    </div>
                </div>
            </div>

        </sortable-box>
    </sortable-boxes>

</div>
