@import (reference) "../../../../style/common";

.character-details-items {
    height: 100%;
    width: 100%;
    padding-top: 10px;
    box-sizing: border-box;
}

.character-details-items-card-wrapper {
    margin: 0 auto;
    height: 100%;
    width: 150px;
    max-width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.character-details-items-card {

    transition: all 200ms;

    height: 100%;
    background: @color-grey-5 url("/assets/images/main-background.png") repeat;
    border: 2px solid;
    border-radius: 15px;
    overflow: hidden;
    color: @color-grey-0;
    box-sizing: border-box;
    box-shadow: -5px 5px 5px fade(black, 50);

    &.mod-rarity-0 {
        border-color: @color-yellow-0;
    }
    &.mod-rarity-1 {
        border-color: @color-yellow-1;
    }
    &.mod-rarity-2 {
        border-color: @color-yellow-2;
    }
    &.mod-rarity-3 {
        border-color: @color-yellow-3;
    }
    &.mod-rarity-4 {
        border-color: @color-yellow-4;
    }
    //&.mod-rarity-5 {
    //    border-color: @;
    //}
    //&.mod-rarity-6 {
    //    border-color: @;
    //}
    //&.mod-rarity-7 {
    //    border-color: @;
    //}
    //&.mod-rarity-8 {
    //    border-color: @;
    //}
    //&.mod-rarity-9 {
    //    border-color: @;
    //}

    &:hover {
        transform: translate(5px, -5px);
    }
}

.character-details-items-card-image {
    display: block;
    height: 40%;
    width: 100%;
    object-fit: cover;
    margin: 0 auto;
}

.character-details-items-card-name {

}

.character-details-items-card-description {

}

.character-details-items-card-type {

}

.character-details-items-card-date {

}
