@import (reference) "../../../style/common";

.horizontal-menu-entry {
}

// Top level (and general) style
.horizontal-menu-entry-text {
    position: relative;
    padding: 5px;
    background: linear-gradient(to top, @color-grey-5 0, @color-grey-4 25%, @color-grey-4 75%, @color-grey-5 100%) no-repeat;
    color: @color-grey-0;
}

.horizontal-menu-entry-close {
    position: absolute;
    right: 5px;
    height: 15px;
    width: 15px;
    top: 50%;
    transform: translateY(-50%);

    .horizontal-menu-entry-icon {
        transform: rotate(180deg);
    }

    &.close {
        .horizontal-menu-entry-icon {
            transform: none;
        }
    }
}

.horizontal-menu-entry-text:hover {
    background: linear-gradient(to top, @color-grey-4 0, @color-grey-3 25%, @color-grey-3 75%, @color-grey-4 100%) no-repeat;
}

.horizontal-menu-entry-sub {

    // First sublevel entries
    .horizontal-menu-entry-text {
        padding-left: 15px;
        background: @color-grey-2;
    }

    .horizontal-menu-entry-sub {
        // Second sublevel entries
        .horizontal-menu-entry-text {
            background: blue;
        }
    }
}
