.character-details-stats {
    padding: 10px;
}

.character-details-stats-characteristic {
    float: left;
    width: 150px;
}

.character-details-stats-characteristic-title {
    display: inline-block;
    text-align: right;
}

.character-details-stats-characteristic-value {
    display: inline-block;
    font-weight: bold;
}

.character-details-stats-skills {
    overflow: hidden;
}

.character-details-stats-skill {
    display: table-row;
}
