<div class="character-details-background" *ngIf="active" (click)="closeOnClick($event)">
    <div class="character-details" *ngIf="character && details">

        <!--Top Part ----------------------------------------------------------------------------------------------- -->
        <div class="character-details-top">

            <img class="character-details-image" src="{{character.image}}" alt="">

            <div class="character-details-basics">
                <div>
                    <span class="h1">{{character.name}}</span>
                    <span class="h3">{{details.age}}</span>
                </div>
                <div class="h3">{{details.role}}</div>
                <div>{{details.about}}</div>
                <div>{{details.build}}</div>
                <div>{{details.complexion}}</div>
            </div>

        </div>

        <!--Bottom Part -------------------------------------------------------------------------------------------- -->
        <div class="character-details-bottom" *ngIf="details">

            <div class="character-details-flags">
                <div class="character-details-flag" [class.is-active]="tab === 'items'" (click)="tab = 'items'">
                    Items
                </div>
                <div class="character-details-flag" [class.is-active]="tab === 'achievements'"
                     (click)="tab = 'achievements'" *ngIf="character.achievements.length">
                    Achievements
                </div>
                <div class="character-details-flag" [class.is-active]="tab === 'stats'" (click)="tab = 'stats'">
                    Stats
                </div>
                <div class="character-details-flag" [class.is-active]="tab === 'personality'"
                     (click)="tab = 'personality'">
                    Story
                </div>
            </div>

            <div class="character-details-card">
                <character-details-items *ngIf="tab === 'items'" [items]="details.items"></character-details-items>
                <character-details-achievements *ngIf="tab === 'achievements'"
                                                [achievementIds]="character.achievements">
                </character-details-achievements>
                <character-details-stats *ngIf="tab === 'stats'" [details]="details"></character-details-stats>
                <character-details-personality *ngIf="tab === 'personality'"
                                               [details]="details"></character-details-personality>
            </div>

        </div>

        <!--Buttons ------------------------------------------------------------------------------------------------ -->
        <div class="character-details-buttons">
            <icon class="character-details-next clickable" (click)="nextCharacter()"
                  iconClass="character-details-next-icon"
                  iconName="single-arrow-up"></icon>
            <icon class="character-details-previous clickable" (click)="previousCharacter()"
                  iconClass="character-details-previous-icon"
                  iconName="single-arrow-up"></icon>
        </div>

    </div>
</div>
