@import (reference) "../../../style/common.less";

.character-details-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.character-details {
    position: absolute;
    height: 85%;
    width: 85%;
    max-width: 750px;
    background: url('/assets/images/stripes-glare-yellow-black.png') no-repeat, @color-grey-2 url("/assets/images/main-background.png");
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 2px @color-grey-5 solid;
    padding: 30px;
}

.character-details-top {
    height: 40%;
}

.character-details-image {
    float: left;
    width: 50%;
    height: 100%;
    background: no-repeat center;
    background-size: contain;
}

.character-details-stats {
    float: right;
    width: 47%;
    height: 100%;

    color: @color-grey-0;
    margin: 0 0 0 3%;
    padding: 15px 20px;
    background: @color-red-5 url("/assets/images/page.png") repeat;
    border: 2px solid @color-grey-1;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
}

.character-details-bottom {
    position: relative;
    color: black;
    height: 60%;
    width: 100%;
    padding-top: 20px;
}

// Tab flag inactive
.character-details-flag {
    display: inline-block;
    position: relative;
    margin: 0 0 0 5px;
    padding: 2px 10px;
    line-height: 20px;
    background: @color-brown-1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: -1px -1px 8px black;
}

.character-details-flag:first-child {
    margin-left: 5px;
}

// A horizontal line to cover the shadow at the bottom of the flag
.character-details-flag:after {
    content: " ";
    background-color: @color-brown-1;
    width: calc(~'100% + 8px');
    height: 7px;
    position: absolute;
    bottom: 1px;
    left: 50%;
    transform: translate(-50%, 100%);
}

// selected tab flag
.character-details-flag.is-active {
    z-index: 2;
}

// Only apply hover style to not active flags
.character-details-flag:not(.is-active):hover {
    background-color: @color-brown-0;
}

.character-details-cards {
    position: absolute;
    top: 43px;
    left: 0;
    right: 0;
    bottom: 30px;
    padding: 15px;
    background-color: @color-brown-1;
    box-shadow: -1px -1px 8px black;
}

.character-details-buttons {
    position: absolute;
    bottom: -5px;
    right: 0;
    transform: translateY(100%);
}

.character-details-previous, .character-details-next {
    float: right;
    width: 30px;
    height: 30px;
}

.character-details-previous{
    margin-right: 5px;
}

.character-details-next-icon, .character-details-previous-icon {
    fill: @color-yellow-0;
    stroke: black;
    stroke-width: 10px;
}

.character-details-next-icon {
    transform: rotate(90deg);
}

.character-details-previous-icon {
    transform: rotate(-90deg);
}
