<div class="character-details-background" *ngIf="active" (click)="closeOnClick($event)">
    <div class="character-details" *ngIf="character">
        <div class="character-details-top">

            <img class="character-details-image" src="{{character.image}}" alt="">

            <div class="character-details-stats">

                <div class="h1"> {{character.name}}</div>
                <div> {{character.description}}</div>

            </div>

        </div>

        <div class="character-details-bottom" *ngIf="details">

            <div class="character-details-flags">

                <div class="character-details-flag" [class.is-active]="tab === 'items'" (click)="tab = 'items'">
                    Items
                </div>
                <div class="character-details-flag" [class.is-active]="tab === 'achievements'"
                     (click)="tab = 'achievements'">Achievements
                </div>

            </div>

            <div class="character-details-card" *ngIf="tab === 'items'">
                <character-details-items [items]="details.items"></character-details-items>
            </div>
            <div class="character-details-card" *ngIf="tab === 'achievements'">
                <character-details-achievements [character]="character"></character-details-achievements>
            </div>


        </div>

        <div class="character-details-buttons">
            <icon class="character-details-next clickable" (click)="nextCharacter()"
                  iconClass="character-details-next-icon"
                  iconName="single-arrow-up"></icon>
            <icon class="character-details-previous clickable" (click)="previousCharacter()"
                  iconClass="character-details-previous-icon"
                  iconName="single-arrow-up"></icon>
        </div>

    </div>
</div>
