<div class="sortable-boxes">
    <div class="sortable-boxes-header">
        Sort by:
        <span class="clickable" (click)="sortByName()" [class.is-active]="lastSort === 0">NAME</span>
        <span>|</span>
        <span class="clickable" (click)="sortByDate()" [class.is-active]="lastSort === 1">DATE</span>
        <span>|</span>
        <span class="clickable" (click)="sortByRarity()" [class.is-active]="lastSort === 2">RARITY</span>
    </div>
    <div class="sortable-boxes-content">
        <div class="sortable-boxes-fade-in"></div>
        <div class="sortable-boxes-scrollable">
            <ng-content></ng-content>
        </div>
        <div class="sortable-boxes-fade-out"></div>
    </div>
</div>
