// ----------------------------------------------------------- Responsive break-points
@breakpoint-mobile: 600px;
@breakpoint-tablet: 1000px;
@breakpoint-large-desktop: 1400px;
@scrollbar-width: 20px;

// ----------------------------------------------------------- Media queries
@device-mobile: ~"only screen and (max-width:" (@breakpoint-mobile - 1) ~")";
@device-tablet: ~"only screen and (min-width:" (@breakpoint-mobile) ~") and (max-width:" (@breakpoint-tablet - 1) ~")";
@device-desktop: ~"only screen and (min-width:" (@breakpoint-tablet) ~") and (max-width:" (@breakpoint-large-desktop - 1) ~")";
@device-large-desktop: ~"only screen and (min-width:" (@breakpoint-large-desktop) ~")";

@device-tablet-and-smaller: ~"only screen and (max-width:" (@breakpoint-tablet - 1) ~")";
@device-tablet-and-bigger: ~"only screen and (min-width:" (@breakpoint-mobile) ~")";

// ----------------------------------------------------------- Colors
/* As hex codes */
@color-brown-0: #996;
@color-brown-1: #a58855;

@color-grey-0: #999;
@color-grey-1: #808080;
@color-grey-2: #515151;
@color-grey-3: #474747;
@color-grey-4: #202020;
@color-grey-5: #1a1a1a;

@color-green-0: #0C7A07; /* Main Primary color */
@color-green-1: #0BBE01;
@color-green-2: #109709;
@color-green-3: #045500;
@color-green-4: #033200;

@color-yellow-0: #FFF700;
@color-yellow-1: #FFFCA4;
@color-yellow-2: #FFFA70;
@color-yellow-3: #D9D200;
@color-yellow-4: #A7A200;

@color-red-0: #95080C; /* Main Complement color */
@color-red-1: #E80207;
@color-red-2: #B80B10;
@color-red-3: #680003;
@color-red-4: #3E0002;
@color-red-5: #250001;

/* As RGBa codes */
@rgba-brown-0: rgba(153, 153, 102, 1);

@rgba-grey-0: rgba(153, 153, 153, 1);
@rgba-grey-1: rgba(128, 128, 128, 1);
@rgba-grey-2: rgba(81, 81, 81, 1);
@rgba-grey-3: rgba(32, 32, 32, 1);
@rgba-grey-4: rgba(26, 26, 26, 1);

@rgba-green-0: rgba(12, 122, 7, 1); /* Main Primary color */
@rgba-green-1: rgba(11, 190, 1, 1);
@rgba-green-2: rgba(16, 151, 9, 1);
@rgba-green-3: rgba(4, 85, 0, 1);
@rgba-green-4: rgba(3, 50, 0, 1);

@rgba-yellow-0: rgba(255, 247, 0, 1);
@rgba-yellow-1: rgba(255, 252, 164, 1);
@rgba-yellow-2: rgba(255, 250, 112, 1);
@rgba-yellow-3: rgba(217, 210, 0, 1);
@rgba-yellow-4: rgba(167, 162, 0, 1);

@rgba-red-0: rgba(149, 8, 12, 1); /* Main Complement color */
@rgba-red-1: rgba(232, 2, 7, 1);
@rgba-red-2: rgba(184, 11, 16, 1);
@rgba-red-3: rgba(104, 0, 3, 1);
@rgba-red-4: rgba(62, 0, 2, 1);

// ----------------------------------------------------------- Font

@font-face {
    font-family: 'All Ages';
    src: url('/assets/Fonts/AllAgesDEMO_BOLDITALIC.ttf');
}

// ----------------------------------------------------------- Stuff

.default-shadow {
    border: 1px solid black;
    box-shadow: 0 0 6px black;
    box-sizing: border-box;
}

// ----------------------------------------------------------- Stuff
html {
    color: @color-grey-0;
    font-family: monospace;
    font-size: 16px;
    background: @color-grey-4 url("/assets/images/main-background.png") repeat fixed;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: @color-red-0;
    text-decoration: none;

    &:hover {
        color: @color-red-1;
    }

    &:active {
        color: @color-red-3;
    }
}

svg {
    overflow: visible
}

ul {
    margin-top: 5px;
}

.h1 {
    font-family: "All Ages", serif;
    font-size: 35px;
    margin-bottom: 5px;
}

.h2 {
    font-family: "All Ages", serif;
    font-size: 25px;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.h3 {
    font-family: "All Ages", serif;
    font-size: 20px;
    margin: 5px 0;
}

.clickable {
    cursor: pointer;
}

.not-mobile {
    @media @device-mobile {
        display: none;
    }
}
