.header {
    height: 100%;

    background: url('../../../assets/images/stripes-glare-yellow-black.png') no-repeat,
    -webkit-linear-gradient(top, transparent 0, rgba(14, 14, 14, 0.07) 150px) no-repeat,
    url('../../../assets/images/main-background.png'),
    -webkit-linear-gradient(top, #474747 0, #1A1A1A 150px) no-repeat, #474747;

    font-family: "All Ages";
}
