@import (reference) "../../style/common";

.header {
    height: 100%;

    background: url('../../../assets/images/stripes-glare-yellow-black.png') no-repeat,
    -webkit-linear-gradient(top, transparent 0, rgba(14, 14, 14, 0.07) 150px) no-repeat,
    url('../../../assets/images/main-background.png'),
    -webkit-linear-gradient(top, #474747 0, #1A1A1A 150px) no-repeat, #474747;
    padding-left: 40px;
}

.header-text {
    font-family: "All Ages", serif;
    font-size: 110px;
    font-variant: small-caps;
    @media @device-tablet {
        font-size: 80px;
    }
    @media @device-mobile {
        font-size: 60px;
    }
}

.header-text-letter {
    display: inline-block;
}

.header-links {
    position: absolute;
    bottom: 0;
    padding-bottom: 3px;
    font-size: 20px;
}
