@import (reference) "../../style/common";

// This file is required once in the aftermath.ts
.content-page {
    box-sizing: border-box;
    padding-right: 250px;
    @media @device-large-desktop {
        width: 65%;
        margin-left: auto;
        margin-right: auto;
        padding-right: 0;
        max-width: 1000px;
    }
    @media @device-desktop {
        padding-left: 30px;
    }
    @media @device-tablet {
        padding-left: 20px;
        padding-right: 20px;
    }
    @media @device-mobile {
        padding-right: 10px;
        padding-left: 10px;
    }
}

.content-page-menu {
    float: left;
    box-sizing: border-box;
    @media @device-mobile {
        float: none;
        width: 100%;
    }
}

.content-page-content {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.content-page-content-box {
    .default-shadow;
    background-color: @color-grey-0;
    color: @color-grey-5;
    padding: 13px;
    margin-bottom: 8px;
    overflow: hidden;
}

.content-page-example-box {
    color: @color-grey-0;
    margin: 5px;
    padding: 15px 20px;
    background: @color-red-5 url("/assets/images/page.png") repeat;
    border: 2px solid @color-grey-1;
    box-shadow: 0 0 5px black;
    border-radius: 5px;

    .h2 {
        margin-top: 0;
    }
}
