@import (reference) "../../style/common";

// This file is required once in the aftermath.ts
.content-page {
    padding: 0 30px;
}

.content-page-shadow {
    border: 1px solid black;
    box-shadow: 0 0 6px black;
    box-sizing: border-box;
}

.content-page-menu {
    float: left;
    width: 200px;
    margin: 5px;
    box-sizing: border-box;
    @media @device-mobile {
        float: none;
        width: 100%;
    }
}

.content-page-content {
    padding: 5px;
    box-sizing: border-box;
    overflow: hidden;
}

.content-page-content-heading {
    font-family: "All Ages", serif;
}

.content-page-content-box {
    .content-page-shadow;
    background-color: fade(@color-grey-0, 75);
    color: @color-grey-4;
    padding: 13px;
    margin-bottom: 8px;
}
