.character-list-entry {
    height: 80px;
    width: 100%;
}

.character-list-entry-image {
    float: left;
    box-sizing: border-box;
    border: 1px black solid;
    width: 80px;
    height: 80px;
    background: url('http://i.imgur.com/Keo3Kaf.jpg') no-repeat top;
    background-size: cover;
}

.character-list-entry-data {
    height: 100%;
    background-color: rgba(7, 18, 0, 1);
    overflow: hidden;
    box-sizing: border-box;
    padding: 12px 10px 0 20px;
    margin-right: -10px;
}
