<div class="character-list" [class.list-is-visible]="showList" [class.list-is-not-visible]="!showList">
    <div class="character-list-background">
        <div class="character-list-buttons">
            <span id="character-list-scroll-up" class="character-list-scroll-up" *ngIf="showScroll" (click)="scrollUp()">
                <inline-icon
                        [iconName]="'#single-arrow-up'"
                        [iconWidth]="20"
                        [iconHeight]="20"
                        [iconFill]="black"></inline-icon>
            </span>
            <span class="character-list-buttons-sort" (click)="sortAlphabetically()">A</span>
            <span class="character-list-buttons-sort" (click)="sortXP()">XP</span>

        </div>
        <div id="character-list-entries" class="character-list-entries" [class.showScroll]="showScroll">
            <div id="character-list-entries-scrollable" class="character-list-entries-scrollable">
                <div id="character-list-entry-wrapper" class="character-list-entry-wrapper {{styleclass}}"
                     *ngFor="#character of characters; #i = index"
                     [attr.data-name]="character.name"
                     [attr.data-experience]="character.experience"
                     [attr.data-id]="character.id"
                     [ngStyle]="{'top': i*85+'px'}"
                     (click)="showDetails($event)">
                    <character-list-entry [character]="character"></character-list-entry>
                </div>
            </div>
        </div>
        <div id="character-list-scroll-down" class="character-list-scroll-down" *ngIf="showScroll"
             (click)="scrollDown()">
            <inline-icon [iconClass]="'character-list-scroll-down-icon'"
                         [iconName]="'#single-arrow-up'"
                         [iconWidth]="20"
                         [iconHeight]="20"></inline-icon>
        </div>
    </div>
    <inline-icon class="character-list-close"
                 [iconClass]="'character-list-close-icon'"
                 [iconName]="'#navigate2'"
                 [iconWidth]=20
                 [iconHeight]=20
                 (click)="toggleList()"></inline-icon>
</div>
<character-details [active]="showCharacterDetails" [characterIds]="sortedIds"
                   [selectedCharacterId]="selectedCharacterId"
                   (activeChange)="showCharacterDetails=$event"></character-details>
