<div class="character-list" [class.list-is-visible]="showList" [class.list-is-not-visible]="!showList">
    <div class="character-list-background">
        <div class="character-list-buttons">
            <inline-icon id="character-list-scroll-up" class="character-list-scroll-up clickable" *ngIf="showScroll"
                         (click)="scrollUp()"
                         iconClass="character-list-scroll-up-icon"
                         iconName="single-arrow-up"></inline-icon>
            <span class="character-list-buttons-sort clickable" (click)="sortAlphabetically()">A</span>
            <span class="character-list-buttons-sort clickable" (click)="sortXP()">XP</span>

        </div>
        <div id="character-list-entries" class="character-list-entries" [class.showScroll]="showScroll">
            <div id="character-list-entries-scrollable" class="character-list-entries-scrollable">
                <div class="character-list-entry-wrapper clickable {{styleclass}}"
                     *ngFor="#character of characters; #i = index"
                     [attr.data-name]="character.name"
                     [attr.data-experience]="character.experience"
                     [attr.data-id]="character.id"
                     [ngStyle]="{'top': i*85+'px'}"
                     (click)="showDetails($event)">
                    <character-list-entry [character]="character"></character-list-entry>
                </div>
            </div>
        </div>
        <inline-icon id="character-list-scroll-down" class="character-list-scroll-down clickable" *ngIf="showScroll"
                     (click)="scrollDown()"
                     iconClass="character-list-scroll-down-icon"
                     iconName="single-arrow-up"></inline-icon>
    </div>
    <inline-icon class="character-list-close clickable"
                 iconClass="character-list-close-icon"
                 iconName="double-arrow-down"
                 (click)="toggleList()"></inline-icon>
    <character-details class="character-list-details" [active]="showCharacterDetails" [characterIds]="sortedIds"
                       [selectedCharacterId]="selectedCharacterId"
                       (activeChange)="showCharacterDetails=$event"></character-details>
</div>
